<h1>New comment posted</h1>

<p><%= @forum_post.user.name %> posted a comment to <%= @forum_thread.title %>:</p>


<p>Comment:</p>
<p>
  <%= formatted_content @forum_post.body %>
</p>

<p>
  <%= link_to 'VIEW DISCUSSION', simple_discussion.forum_thread_path(@forum_thread) %>
</p>

<p>This message was sent to <%= @recipient.email %>. If you don't want to receive these emails from Pelacore in the future, please <%= link_to 'unsubscribe', simple_discussion.forum_thread_path(@forum_thread) %>.</p>
